/* taustakuva */

body {
  background-image: url(../images/TheAgency.jpg);
  background-size: auto;
  background-position: top;
  background-repeat: no-repeat;
}

article {
  color: MidnightBlue;

}

footer {
  color: Teal;
}
